@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-x-end {
  @apply flex items-center justify-end;
}
.flex-center {
  @apply flex items-start justify-center;
}
.flex-between {
  @apply flex items-center justify-between;
}

.nav-active {
  @apply relative after:absolute after:-bottom-[3px] after:left-0 after:border-t-[2.5pt] after:w-full after:border-brand-800 after:rounded-3xl;
}
.nav-active:after {
  content: "";
}
.thin-link {
  @apply hover:font-normal duration-500 transition;
}

.button-outline-secondary {
  @apply border-gray-400 transition-all duration-300 ease-in-out
  text-gray-700 font-montserrat
  hover:bg-gray-200 hover:text-black;
}

.button-outline-dark {
  @apply border-gray-800 transition-all duration-300 ease-in-out
  text-gray-800 font-montserrat
  hover:bg-gray-200 hover:text-black;
}
